// To clear things when we float the element inside nav and ul
.clear {
  *zoom: 1;

  &:after {
    clear: both;
  }

  &:before,
  &:after {
    content: " ";
    display: table;
  }
}


.site-footer {
  @extend %padding-post;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: lighten($text-color, 24%);
  font-size: 0.9em;

  .footer-icons {
    ul {
      list-style: none;
      margin: 0;

      li {
        display: inline;
      }

      a:hover {
        color: darken($link-color, 15%);
      }
    }
  }
  
  .separator {
    user-select: none;
    opacity: $navbar-separator-opacity;

    &:first-child {
      display: none;
    }
  }
  
  nav {
    list-style: none;
    margin: 0;
    padding: 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      display: inline flow-root list-item;
      margin-top: 20px;
    }

    a {
      &:hover {
        color: $link-color;
      }

      &#pull {
        i {
          margin-top: 13px;
          margin-right: 10px;
          float: right;
        }

      }

    }
  }
}
